{% extends "base.html" %} 

{% block css %}
<style>
	.info-block{
		margin-top: 30px;
		}

	.info-well{
		margin-top: 1px;
		margin-bottom: 1px;
	}
</style>
{% endblock %}

{%block main%}
<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/d/d2/Sawada_Tsunayoshi_6.jpg"/>
		</div>	 
		<div class="col-xs-6">
			<div class="well well-sm">
				Travis Smith
			</div>
			<div class="info-block">
				<div class="well well-sm info-well">
					{{date}}
				</div>
				<div class="well well-lg info-well">
					Username: tevyt<br>
					ID: 620065811<br>
					Sex: Male<br>
					Age: 21<br>
					Highest Score: 99<br>
					TDollars: 300
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}
